body {
  color: black;
}
.timer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.timer-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.timer-inputs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.timer-date {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.timer-input{
  max-width: 4em;
  display: flex;
  justify-content: center;
  text-align:center;
}