html,
body {
  height: 100%;
  /*background-image: url("../../Pictures/timer/look.com.ua-83727.jpg");*/
}
.img {
  width: 100%;
  height: 100%;
  /*background-image: url("../../Pictures/timer/look.com.ua-83727.jpg");*/
}

.header {
  height: 25%;
  position: relative;
  z-index: 5;
  /* animation-name: scaleHeader;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  border: 4px solid black;*/
}

.footer {
  height: 25%;
  position: relative;
  z-index: 5;
  /* animation-name: scaleFooter;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 2; */
}

.timer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 1;
}

.date {
  display: flex;
  width: 100%;
  justify-content: center;
  animation-delay: 4s;
  animation-name: scaleFontSize;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  border: 4px solid black;
}

.number {
  margin: 30px;
  font-size: 5rem;
  text-align: center;
}

.separator {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 5em;
}

@keyframes scaleHeader {
  0% {
    transform: translateY(0%) scaleY(100%);
  }
  100% {
    transform: translateY(50%) scaleY(200%);
  }
}

@keyframes scaleFooter {
  0% {
    transform: translateY(0%) scaleY(100%);
  }
  100% {
    transform: translateY(-50%) scaleY(200%);
  }
}

@keyframes scaleFontSize {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0%);
  }
}

.window {
  background-color: black;
}
